@charset "utf-8";

/* reset */
*{margin:0;padding:0;}
html, :root {border: none;}
html,body{width:100%; padding:0; margin:0;color:#555; font-family:'Nanum Gothic', 'Dotum','돋움',sans-serif; vertical-align:top;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { padding:0; margin:0; width:100%;display:block;}
div, dl,dt,dd,ul,ol,li,pre,form,fieldset,input,select,textarea,p,blockquote,address,th,td {margin:0;padding:0;font-size:13px;line-height:1.6;vertical-align:top;color:#222;
font-family:'Nanum Gothic', 'Dotum','돋움',sans-serif; font-weight:400;}
img, b,strong,a, span {vertical-align:top;padding:0;margin:0;border:0}
h1,h2,h3,h4,h5,h6 {  font-weight:400; line-height:1.2;}
a{text-decoration:none; display:inline-block; cursor:pointer; color:#555; }
a:active,a:focus,a:visited{text-decoration:none;  outline: 0;  color:#555; }
a:hover { opacity:0.8; filter:alpha(opacity=80); }
table {border-collapse:collapse;border-spacing:0;padding:0;margin:0;border:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,i,strong,th,var {font-style:normal;font-weight:normal;padding:0;margin:0;}
ol,ul,li,dl, dd  {list-style:none;margin:0; padding:0;}
legend,button,input,select,textarea{vertical-align:middle;display: inline-block;padding:0;margin:0;}
caption:after{display:block;clear:both;content:'';}
caption,th {text-align:left;}
caption legend {width:0; height:0; line-height:0; overflow:hidden; visibility:hidden; font-size:0;}
abbr,acronym {border:0;}
img.flxImg{max-width:100%;}
a,img {outline:0;}
address {font-style:normal;}
hr {display: none;}
th,td {vertical-align:middle;}
button {background:transparent; cursor:pointer; overflow:visible;}
select optgroup{padding:0;margin:0;}
select optgroup option{padding:0;margin:0;}

/* common */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; padding:0;margin:0; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html {overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
abbr[title] { border-bottom: 1px dotted; }
b, strong {font-weight:600; }
blockquote { margin:0; }
dfn { font-style: italic; }
hr { display: block; height: 0; border: 0; margin:0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight:600;}
pre, code, kbd, samp { font-family: monospace, monospace;  }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

/* Forms  */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; vertical-align:middle; }
button, input { line-height: normal; *overflow: visible; }
button {background:transparent; cursor:pointer; overflow:visible;}
select optgroup{padding:0;margin:0;}
select optgroup option{padding:0;margin:0;}
textarea {background:#fff;border:1px solid #d1d1d1;padding:10px}
select {background:#fff;border:1px solid #d1d1d1;  line-height:28px; height:30px;  padding:4px;}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;  background:none !important; width:14px !important; height:14px !important; padding:0 !important; margin:0 5px 0 0;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; }
input[type="text"]::-ms-clear {display:none;}  /*10 이상익스플로러에서 input 박스안에 나타나는 엑스없앰 */
input[type="text"] { line-height:26px; height:28px; border:1px solid #d1d1d1; padding:0px 5px;}
input[type="button"] {line-height:28px; height:30px; border:1px solid #888; background:#888; color:#fff; padding:0 10px;  display:inline-block; cursor:pointer; cursor:hand;}
input[type="submit"] {line-height:28px; height:30px; border:1px solid #888; background:#888; color:#fff; padding:0 10px;  display:inline-block; cursor:pointer; cursor:hand;}
input[type="button"]:hover,input[type="submit"]:hover { opacity:0.8; filter:alpha(opacity=80); }
input.num {line-height:18px; height:20px; width:20px; border:1px solid #888; background:#fff; font-size:12px;color:#888; padding:0; display:inline-block; cursor:pointer; cursor:hand;}
input.button , a.button {line-height:26px; height:28px; border:1px solid #888; background:#888; color:#fff; padding:0px 10px; display:inline-block; cursor:pointer; cursor:hand;}
input[type="password"] {width:150px; line-height:26px; height:28px; border:1px solid #d1d1d1; padding:0px 5px;   }
input[type="search"] {line-height:26px; height:28px; border:1px solid #444; background:#444; color:#fff; padding:0px 10px; display:inline-block; cursor:pointer; cursor:hand;}
input[type="file"], input[type="file"] input {line-height:26px;  border:1px solid #f2f2f2; background:#f2f2f2; text-shadow:none;box-shadow:none; width:60%; max-width:400px;  color:#555;}
input::-webkit-input-placeholder { color:#999; }
input::-moz-placeholder {color:#999; }
input:-ms-input-placeholder { color:#999; }
input::-moz-placeholder {color:#999; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }
input { vertical-align:middle; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f7f7f7; }
table {width:100%; border-collapse:collapse; border-spacing: 0; }
tr, td { vertical-align:middle; padding:7px 5px;border-bottom:1px solid #ccc;min-height:24px; font-size:12px; }

img, object, embed, video {	max-width: 100%;}

.dot {padding:0 10px; color:#adadad; font-size:11px;}

.bg_w {background:#fff !important;}
.bg_gf5 {background:#f5f5f5 !important;}

.r2 {-webkit-border-radius:2px !important; -moz-border-radius:2px !important;-o-border-radius:2px !important;-ms-border-radius:2px !important;-khtml-border-radius:2px !important;border-radius:2px !important;}
.r3 {-webkit-border-radius:3px !important;-moz-border-radius:3px !important;-o-border-radius:3px !important;-ms-border-radius:3px !important;-khtml-border-radius:3px !important;border-radius:3px !important;}
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.ofys {overflow-y:scroll; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content:""; display: table; }
.clearfix:after { clear: both; }
.clearfix {zoom: 1; }
.bb {border:1px solid red}
img, object, embed, video {	max-width: 100%;}
.ie6 img {	width:100%;}

.tbar_g2 {border-top:1px solid #222 !important;}
.tbar_g9 {border-top:1px solid #999 !important;}
.tbar_ga {border-top:1px solid #aaa !important;}
.bbar_gd1 {border-bottom:1px solid #d1d1d1 !important;}

.nobar   {border:none !important;}
.notbar  {border-top:none !important;}
.nobbar  {border-bottom:none !important;}
.nolbar  {border-left:none !important;}
.norbar  {border-right:none !important;}
.dotbbar {border-bottom:1px dotted #aaa; !important;}

.block {display: block; !important;}
.none {display:none; !important;}
.n {font-weight:600;}
.b {font-weight:600;}

.nopad {padding:0 !important;}
.nopt {padding-top:0 !important;}
.nopb {padding-bottom:0 !important;}
.nopl {padding-left:0 !important;}
.nopr {padding-right:0 !important;}
.nomt {margin-top:0 !important;}
.nomb{margin-bottom:0 !important;}
.noml {margin-left:0 !important;}
.nomr {margin-right:0 !important;}

.fl {float:left !important;}
.fr {float:right !important;}
.al {text-align:left !important;}
.ac, .ac th, .ac td {text-align:center !important;}
.al, .al td {text-align:left !important;}
.ar {text-align:right !important;}
.star {color:#ff5e00; padding:0 5px 0 0; margin:0; }
.star_off {color:#999; padding:0 5px 0 0; margin:0;}
.text_block {word-break: keep-all;word-wrap:normal; display:inline-block;}

/* width : px */
.w30  {width:30px !important;}
.w35  {width:35px !important;}
.w40  {width:40px !important;}
.w50  {width:50px !important;}
.w60  {width:60px !important;}
.w70  {width:70px !important;}
.w80  {width:80px !important;}
.w100 {width:100px !important;}
.w120 {width:120px !important;}
.w150 {width:150px !important;}
.w200 {width:200px !important;}
.w222 {width:222px !important;}
.w250 {width:250px !important;}
.w261 {width:261px !important;}

/* width : % */
.w15p {width:15% !important;}
.w17p {width:17% !important;}
.w18p {width:18% !important;}
.w20p {width:20% !important;}
.w25p {width:25% !important;}
.w30p {width:30% !important;}
.w40p {width:40% !important;}
.w50p {width:50% !important;}
.w52p {width:52% !important;}
.w55p {width:55% !important;}
.w56p {width:56% !important;}
.w57p {width:57% !important;}
.w60p {width:60% !important;}
.w70p {width:70% !important;}
.w80p {width:80% !important;}
.w85p {width:85% !important;}
.w86p {width:86% !important;}
.w87p {width:87% !important;}
.w90p {width:90% !important;}
.w93p {width:93% !important;}
.w95p {width:95% !important;}
.w96p {width:96% !important;}
.w97p {width:97% !important;}
.w98p {width:98% !important;}
.w98_7p  {width:98.7% !important;}
.w99p    {width:99% !important;}
.w99_7p  {width:99.7% !important;}
.w99_8p  {width:99.8% !important;}
.w100p   {width:100% !important;}

.max_50  {max-width:50px !important;}
.max_60  {max-width:60px !important;}
.max_120 {max-width:120px !important;}

.min_w950 {min-width:950px !important;}

.lh24, .lh24 li {line-height:24px !important;}
.lh28, .lh28 li {line-height:24px !important;}
.lh30, .lh30 li {line-height:30px !important;}

/* height */
.h60      {height:60px !important;}
.h80      {height:80px !important;}
.h100      {height:100px !important;}
.h150      {height:150px !important;}
.h200      {height:200px !important;}
.h420      {height:420px !important;}
.h400      {height:400px !important;}
.h540      {height:540px !important;}

/* margin */
.mt1       {margin-top:1px !important;}
.mt2       {margin-top:2px !important;}
.mt5       {margin-top:5px !important;}
.mt7       {margin-top:7px !important;}
.mt10      {margin-top:10px !important;}
.mt12      {margin-top:12px !important;}
.mt15      {margin-top:15px !important;}
.mt20      {margin-top:20px !important;}
.mt22      {margin-top:22px !important;}
.mt23      {margin-top:23px !important;}
.mt25      {margin-top:25px !important;}
.mt30      {margin-top:30px !important;}
.mt40      {margin-top:40px !important;}
.mt50      {margin-top:50px !important;}

.mb1       {margin-bottom:1px !important;}
.mb2       {margin-bottom:2px !important;}
.mb5       {margin-bottom:5px !important;}
.mb7       {margin-bottom:7px !important;}
.mb8       {margin-bottom:8px !important;}
.mb10      {margin-bottom:10px !important;}
.mb12      {margin-bottom:12px !important;}

.ml1       {margin-left:1px !important;}
.ml2       {margin-left:2px !important;}
.ml5       {margin-left:5px !important;}
.ml10      {margin-left:10px !important;}
.ml20      {margin-left:20px !important;}
.ml25      {margin-left:25px !important;}
.ml40      {margin-left:40px !important;}
.mr1       {margin-right:1px !important;}
.mr2	   {margin-right:2px !important;}
.mr5	   {margin-right:5px !important;}
.mr10	   {margin-right:10px !important;}
.mr20	   {margin-right:20px !important;}

.pt5	   {padding-top:5px !important;}
.pt10	   {padding-top:10px !important;}
.pt12	   {padding-top:12px !important;}
.pt25	   {padding-top:25px !important;}
.pt20	   {padding-top:20px !important;}
.pt30	   {padding-top:30px !important;}
.pt40	   {padding-top:40px !important;}
.pt50	   {padding-top:50px !important;}
.pt60	   {padding-top:60px !important;}

.pb10	   {padding-bottom:10px !important;}
.pb20	   {padding-bottom:20px !important;}
.pb25	   {padding-bottom:25px !important;}
.pb30	   {padding-bottom:30px !important;}
.ptb40	   {padding:40px 0 !important;}

.p15       {padding-left:5px !important;}
.p110      {padding-left:10px !important;}
.p120      {padding-left:20px !important;}
.p130      {padding-left:30px !important;}

/* Font Size */
.f11,.f11 li {font-size:11px !important;}
.f12,.f12 li {font-size:12px !important;}
.f15,.f15 li {font-size:15px !important;}
.f20,.f20 li {font-size:20px !important;}
.f22,.f22 li {font-size:22px !important;}
.f24,.f24 li {font-size:24px !important;}
.f30,.f30 li {font-size:30px !important;}

/* Font Color : gray */
.c_g0      {color:#000 !important;}
.c_g3      {color:#333 !important;}
.c_g4      {color:#444 !important;}
.c_g5      {color:#555 !important;}
.c_g6      {color:#666 !important;}
.c_g7      {color:#777 !important;}
.c_g8      {color:#888 !important;}
.c_g9      {color:#999 !important;}
.c_ga9     {color:#a9a9a9 !important;}
.c_ge1     {color:#e1e1e1 !important;}

/* Font Color : color */
.c_red     {color:#e15252 !important;}
.c_db      {color:#283b67 !important;}
.c_nb      {color:#3b699c !important;}
.c_lb      {color:#3597b7 !important;}
.c_lb1      {color:#4db4d6 !important;}
.c_yg      {color:#8abb20 !important;}
.c_or      {color:#ea9926 !important;}
.c_or1     {color:#ff5e00 !important;}
.c_pink    {color:#f27e7e !important;}

/* Btn Style : background - color */
.btn_lb          {background:#D0C09E !important; border:1px solid #D0C09E !important; color:#fff !important;}
.btn_nb          {background:#3b699c !important; border:1px solid #3b699c !important; color:#fff !important;}
.btn_db          {background:#23375a !important; border:1px solid #23375a !important; color:#fff !important;}
.btn_yg          {background:#7a9c12 !important; border:1px solid #7a9c12 !important; color:#fff !important;}
.btn_or          {background:#ea8900 !important; border:1px solid #ea8900 !important; color:#fff !important;}
.btn_or1		 {background:#ffa018 !important; border:1px solid #ffa018 !important; color:#fff !important;}
.btn_red		 {background:#ba085c !important; border:1px solid #ba085c !important; color:#fff !important;}

/* Btn Style : background - gray */
.btn_g0			 {background:#000 !important; border:1px solid #000 !important; color:#fff !important;}
.btn_g2			 {background:#223 !important; border:1px solid #222 !important; color:#fff !important;}
.btn_g3			 {background:#333 !important; border:1px solid #333 !important; color:#fff !important;}
.btn_g5			 {background:#555 !important; border:1px solid #555 !important; color:#fff !important;}
.btn_g7			 {background:#777 !important; border:1px solid #777 !important; color:#fff !important;}
.btn_g9			 {background:#999 !important; border:1px solid #999 !important; color:#fff !important;}
.btn_ga9		 {background:#a9a9a9 !important; border:1px solid #a9a9a9 !important; color:#fff !important;}

/* Btn Style : background - white */
.btn_wlblb		 {background:#fff !important; border:1px solid #3597b7 !important; color:#3597b7 !important;}
.btn_wdbdb	     {background:#fff !important; border:1px solid #283b67 !important; color:#283b67 !important;}
.btn_wg3g3	     {background:#fff !important; border:1px solid #333 !important; color:#333 !important;}
.btn_wg5g5	     {background:#fff !important; border:1px solid #555 !important; color:#555 !important;}
.btn_wg7g7	     {background:#fff !important; border:1px solid #777 !important; color:#777 !important;}
.btn_wg9g9	     {background:#fff !important; border:1px solid #999 !important; color:#999 !important;}
.btn_wwlb	     {background:#fff !important; border:1px solid #fff !important; color:#3597b7 !important;}
.btn_wwg3		 {background:#fff !important; border:1px solid #fff !important; color:#333 !important;}


/* 페이징 스타일 */
.PagingStyle { width:100%; text-align:center;padding:20px 0 20px  0; font-size:0; overflow:hidden; display:block; }
.PagingStyle a {  display:inline-block; border:solid 1px #ccc !important; ;  height:28px; line-height:26px; text-align:center; padding-left:8px; padding-right:8px; font-size:12px; background:#fff !important;  color:#999999 !important; margin:0 2px;  }
.PagingStyle strong {  display:inline-block; height:28px; line-height:26px; color:#000; border:solid 1px #000; text-align:center; padding-left:8px; padding-right:8px; font-size:12px; font-weight:600; margin:0 2px; background-color:#f2f2f2  }
.PagingStyle .arr { font-size:8px; font-weight:800; vertical-align:top; }


/* Nanum Gothic */
/*@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/css/font/NanumGothic-Regular.eot');
  src: url('/css/font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('/css/font/NanumGothic-Regular.woff2') format('woff2'),
       url('/css/font/NanumGothic-Regular.woff') format('woff'),
       url('/css/font/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 600;
  src: url('/css/font/NanumGothic-Bold.eot');
  src: url('/css/font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('/css/font/NanumGothic-Bold.woff2') format('woff2'),
       url('/css/font/NanumGothic-Bold.woff') format('woff'),
       url('/css/font/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url('/css/font/NanumGothic-ExtraBold.eot');
  src: url('/css/font/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('/css/font/NanumGothic-ExtraBold.woff2') format('woff2'),
       url('/css/font/NanumGothic-ExtraBold.woff') format('woff'),
       url('/css/font/NanumGothic-ExtraBold.ttf') format('truetype');
}*/
